# Flask / sesion
FLASK_SECRET_KEY=change_this_secret
FRONTEND_ORIGIN=http://192.168.100.3:8080

# Users database
USERS_DB_HOST=users_db
USERS_DB_PORT=3306
USERS_DB_NAME=users_db
USERS_DB_USER=users_user
USERS_DB_PASSWORD=users_password
USERS_DB_ROOT_PASSWORD=users_root_password

# Products database
PRODUCTS_DB_HOST=products_db
PRODUCTS_DB_PORT=3306
PRODUCTS_DB_NAME=products_db
PRODUCTS_DB_USER=products_user
PRODUCTS_DB_PASSWORD=products_password
PRODUCTS_DB_ROOT_PASSWORD=products_root_password

# Orders database
ORDERS_DB_HOST=orders_db
ORDERS_DB_PORT=3306
ORDERS_DB_NAME=orders_db
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=orders_password
ORDERS_DB_ROOT_PASSWORD=orders_root_password

# Consul
CONSUL_HOST=consul
CONSUL_PORT=8500
